<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{title|escape}} - {% endif %}SIDServer Admin</title>

  <!-- jQuery -->
  <script src="{{'/assets/jquery/jquery.min.js'|relative_url}}"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="{{'/assets/bootstrap/css/bootstrap.min.css'|relative_url}}">
  <script src="{{'/assets/bootstrap/js/bootstrap.min.js'|relative_url}}"></script>

  <!-- sweetalert -->
  <link rel="stylesheet" href="{{'/assets/sweetalert/sweet-alert.css'|relative_url}}">
  <script src="{{'/assets/sweetalert/sweet-alert.min.js'|relative_url}}"></script>

  <link rel="stylesheet" href="{{'/assets/common.css'|relative_url}}">
  <script src="{{'/assets/common.js'|relative_url}}"></script>
</head>
