<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{'/'|relative_url}}">EasyDeploy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if nav=="home" %}class="active" {% endif %}><a href="{{'/'|relative_url}}">首页</a></li>
        <li {% if nav=="projects" %}class="active" {% endif %}><a href="{{'/projects'|relative_url}}">项目</a></li>
        <li {% if nav=="servers" %}class="active" {% endif %}><a href="{{'/servers'|relative_url}}">服务器</a></li>
        <li {% if nav=="actions" %}class="active" {% endif %}><a href="{{'/actions'|relative_url}}">动作</a></li>
        <li {% if nav=="tasks" %}class="active" {% endif %}><a href="{{'/tasks'|relative_url}}">活动任务</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{'/logout'|relative_url}}?code={{_server.session.login.code|escape}}">注销 {{_server.session.login.username|escape}}</a></li>
      </ul>
    </div>
  </div>
</nav>
