{% include "inc/head" %}

<style>
#logs {
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD;
  padding: 10px 15px;
  height: 500px;
  overflow-y: scroll;
}
</style>

<body>
  {% include "inc/nav" %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">项目 {{project.name|escape}}</span>
      </div>
      <div class="panel-body">
        {% include "inc/error" %}
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tr>
                <td width="60"><strong>动作</strong></td>
                <td>{{action.name|escape}}</td>
              </tr>
              <tr>
                <td><strong>说明</strong></td>
                <td>{{action.description|escape}}</td>
              </tr>
              <tr>
                <td><strong>命令</strong></td>
                <td>{{task.commands|escape|newline_to_br}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tr>
                <td width="80"><strong>服务器</strong></td>
                <td>{{server.name|escape}}</td>
              </tr>
              <tr>
                <td><strong>地址</strong></td>
                <td>{{server.user|escape}}@{{server.host|escape}}:{{server.port|escape}}</td>
              </tr>
              <tr>
                <td><strong>路径</strong></td>
                <td>{{deploy_server.path|escape}}</td>
              </tr>
              <tr>
                <td><strong>环境变量</strong></td>
                <td>{{deploy_server.env|escape|newline_to_br}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div id="logs"></div>
      </div>
    </div>
  </div>
</body>

{% include "inc/foot" %}

{% unless error %}
<script src="/socket.io/socket.io.js"></script>
<script>
var $logs = $('#logs');

function newLineToBR (line) {
  return line.replace(/\n/g, '<br>');
}

function appendLog (msg) {
  msg = newLineToBR(msg);
  $logs.append(msg);
  $logs.scrollTop($logs.height());
}

var socket = io();

socket.on('log', function (msg) {
  appendLog(msg);
});

socket.on('error log', function (msg) {
  appendLog('<p class="text-danger">' + msg + '</p>');
});

socket.emit('task id', '{{task.id|escape}}');
</script>
{% endunless %}
