{% include "inc/head" %}

<style>
#logs {
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD;
  padding: 10px 15px;
  height: 500px;
  overflow-y: scroll;
  background-color: #000;
  color: #CCC;
  font-size: 12px;
}
#logs .error-log {
  color: #f00;
  font-size: 14px;
}
</style>

<body>
  {% include "inc/nav" %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">项目 {{project.name|escape}}</span>
      </div>
      <div class="panel-body">
        {% include "inc/error" %}
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tr>
                <td width="60"><strong>动作</strong></td>
                <td>{{action.name|escape}}</td>
              </tr>
              <tr>
                <td><strong>说明</strong></td>
                <td>{{action.description|escape}}</td>
              </tr>
              <tr>
                <td><strong>命令</strong></td>
                <td>{{task.commands|escape|newline_to_br}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tr>
                <td width="80"><strong>服务器</strong></td>
                <td>{{server.name|escape}}</td>
              </tr>
              <tr>
                <td><strong>地址</strong></td>
                <td>{{server.user|escape}}@{{server.host|escape}}:{{server.port|escape}}</td>
              </tr>
              <tr>
                <td><strong>路径</strong></td>
                <td>{{deploy_server.path|escape}}</td>
              </tr>
              <tr>
                <td><strong>环境变量</strong></td>
                <td>{{deploy_server.env|escape|newline_to_br}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div id="logs-wrap">
          <div id="logs"></div>
          <div class="text-center" style="margin-top:10px;">
            <button class="btn btn-xs btn-danger btn-stop-term"><span class="glyphicon glyphicon-stop"></span> 结束</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% include "inc/foot" %}

{% unless error %}
<script src="/socket.io/socket.io.js"></script>
<script src="{{'/assets/ansi2html.js'|relative_url}}"></script>
<script src="{{'/assets/term2html.js'|relative_url}}"></script>
<script>
var $logs = $('#logs');

function newLineToBR (line) {
  return line.replace(/\n/g, '<br>');
}

function spaceToNBSP (line) {
  return line.replace(/ /g, '&nbsp;');
}

function linkify (txt) {
  return txt.replace(/(https?:\/\/[^\s]+)/gm, function(str) {
    return "<a href=\"" + str + "\">" + str + "</a>";
  });
}

function appendLog (msg) {
  $logs.append(msg);
  appendLog.dataLength += msg.length;
  if (appendLog.dataLength > 1000000) {
    $logs.html($logs.html().substr(-500000));
    appendLog.dataLength = $logs.html().length;
  }
  $logs.scrollTop(999999999999999);
}

var socket = io();

socket.on('log', function (msg) {
  msg = spaceToNBSP(msg);
  msg = newLineToBR(msg);
  msg = ansi2html(msg);
  msg = term2html(msg);
  msg = linkify(msg);
  appendLog(msg);
});

socket.on('error log', function (msg) {
  appendLog('<p class="error-log">' + msg + '</p>');
});

socket.emit('task id', '{{task.id|escape}}');

$('.btn-stop-term').click(function () {
  if (!confirm('确定要结束当前动作进程吗?')) return;
  socket.emit('stop');
});

// 自动定位到最佳位置
var $logsWrap = $('#logs-wrap');
var $window = $(window);
$logs.height($window.height() - ($logsWrap.height() - $logs.height()));
$('body').animate({
  scrollTop: $logsWrap.position().top + 'px'
}, 500);
</script>
{% endunless %}
