{% include "inc/head" %}

<body>
  {% include "inc/nav" %}
  <div class="container">
    {% include "inc/error" %}
    {% if _server.query.saved == 1 %}
    <div class="alert alert-success">已更新!</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-title">项目 {{input.name|escape}}</span></div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" method="post">
          <div class="form-group">
            <label for="ipt-name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ipt-name" placeholder="名称" name="name" value="{{input.name|escape}}">
            </div>
          </div>
          <div class="form-group">
            <label for="ipt-description" class="col-sm-2 control-label">说明</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="ipt-description" placeholder="说明" name="description" rows="5">{{input.description|escape}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="ipt-repository" class="col-sm-2 control-label">Git源</label>
            <div class="col-sm-10">
              <select class="form-control" id="ipt-repository" name="repository">
                <option value="">请选择</option>
                {% for item in data_git_repository_list %}
                <option value="{{item.url|escape}}">{{item.name|escape}} - {{item.url|escape}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ipt-branch" class="col-sm-2 control-label">分支</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ipt-branch" placeholder="分支" name="branch" value="{{input.branch|escape}}">
            </div>
          </div>
          <div class="form-group">
            <label for="ipt-launch" class="col-sm-2 control-label">启动文件</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ipt-launch" placeholder="启动文件" name="launch" value="{{input.launch|escape}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">保存</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-danger btn-delete">删除</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if project %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          部署到服务器
          <a href="/project/{{input.name|escape}}/servers/add" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
        </span>
      </div>
      <ul class="list-group">
        {% for item in project.servers %}
          {% assign server_id = item.id %}
        <li class="list-group-item">
          <strong>{{item.name|escape}}</strong>
          <span class="text-muted">(路径: {{item.path|escape}}, 环境变量: {{item.env|escape}})</span>
          <div class="pull-right">
            <a class="btn btn-xs btn-primary" href="{{'/project'|relative_url}}/{{project.name|escape}}/server/{{item.id|escape}}">编辑</a>
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                动作 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% for item2 in data_action_list %}
                <li><a href="#" class="btn-exec-action" data-id="{{server_id|escape}}" data-action="{{item2.name|escape}}">{{item2.name|escape}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-title">Git代码版本</span></div>
      <div class="panel-body commits">
        正在加载中...
      </div>
    </div>
  </div>
</body>

{% include "inc/foot" %}

<script>

$('#ipt-repository').val('{{input.repository|escape}}');

$('.btn-delete').click(function () {
  if (!confirm('是否确认删除？')) return;
  var $btn = $(this);
  $btn.button('loading');
  ajaxRequest.delete('{{"/project"|relative_url}}/{{input.name|escape}}.json', function (err, ret) {
    $btn.button('reset');
    if (err) return alert(err);
    location = '{{"/projects"|relative_url}}';
  });
});

$(document.body).delegate('.btn-exec-action', 'click', function () {
  var $btn = $(this);
  var id = $btn.data('id');
  var action = $btn.data('action');
  var version = $btn.data('version');
  $btn.button('loading');
  ajaxRequest.post('{{"/project"|relative_url}}/{{project.name|escape}}/execute.json', {
    id: id,
    action: action,
    version: version
  }, function (err, ret) {
    $btn.button('reset');
    if (err) return alert(err);
    location = ret.url;
  });
});

$(document.body).delegate('.btn-select-server', 'click', function () {
  var $btn = $(this);
  var id = $btn.data('id');
  var name = $btn.data('name');
  var $p = $btn.closest('.commit-item');
  $p.find('.btn-exec-action').data('id', id);
  $p.find('.deploy-name').text(name);
});

$.get('{{"/project"|relative_url}}/{{project.name|escape}}/commits', {limit: 20}, function (html) {
  $('.commits').hide().after(html);
});
</script>
