{% include "inc/head" %}

<body>
  {% include "inc/nav" %}
  <div class="container">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            项目 (共{{data_project_list.length}})
            <a href="/projects/new" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
          </span>
        </div>
        <div class="list-group">
          {% for item in data_project_list %}
          <a href="{{'/project'|relative_url}}/{{item.name|escape}}" class="list-group-item">
            <strong>{{item.name|escape}}</strong>
            <span class="text-muted">({{item.description|escape}})</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            服务器 (共{{data_server_list.length}})
            <a href="/servers/new" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
          </span>
        </div>
        <div class="list-group">
          {% for item in data_server_list %}
          <a href="{{'/server'|relative_url}}/{{item.name|escape}}" class="list-group-item">
            <strong>{{item.name|escape}}</strong>
            <span class="text-muted">({{item.user|escape}}@{{item.host|escape}}:{{item.port|escape}})</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            动作 (共{{data_action_list.length}})
            <a href="/actions/new" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
          </span>
        </div>
        <div class="list-group">
          {% for item in data_action_list %}
          <a href="{{'/action'|relative_url}}/{{item.name|escape}}" class="list-group-item">
            <strong>{{item.name|escape}}</strong>
            <span class="text-muted">({{item.description|escape}})</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            活动任务 (共{{data_execute_tasks.length}})
          </span>
        </div>
        <div class="list-group">
          {% for item in data_execute_tasks %}
          <a href="{{'/project'|relative_url}}/{{item.projectInfo.name|escape}}/execute/realtime/{{item.id|escape}}" class="list-group-item">
            <strong>{{item.actionInfo.name|escape}}</strong>
            {{item.projectInfo.name|escape}}@{{item.serverInfo.name|escape}}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>

{% include "inc/foot" %}
